nav {
    font-family: Helvetica;
    font-size: 30px;
    position: fixed;
    z-index: 10;
    background-image: url(chiikawanfriends.png);
    background-position: center;
    background-size: cover;
    max-inline-size: 100%;
    width: 100%;
    height: 15%;
    top: 0%;
    left: 0%;
    right: 0%;
}

.header a {
     background-color: rgba(240, 248, 255, 0);
     color: white;
     padding-left: 5%;
     font-size: 50px; 
     padding: 6%;
     padding-top: 50%;
}

p {
    font-size: 30px;
    font-weight: lighter;
    color:rgba(71, 111, 146, 0.582);
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

a {
    color:rgba(127, 148, 180, 0.507);
    background-color: aliceblue;
    font-weight: bold;
    font-size: 30px;
    padding: 25px 25px;
    
}


h1 {
    font-family: Helvetica;
    color: rgba(146, 167, 185, 0.685);
    font-weight: bold;
    font-size: 85px;
    padding-bottom: 1.5%;
  
}

h2 {
    font-family: Helvetica;
    color: rgba(146, 167, 185, 0.685);
    font-size: 60px;
    padding-bottom: 2%;
}

h3 {
    font-size: 40px;
    font-weight: light;
    color:rgba(71, 111, 146, 0.76);
}

html {
    text-align: center;
}

body {
    padding-top: 6%;
    padding-bottom: 3%;
}

.certifications {
    height: 200px;
    width: 240px;
}

#home div {
    padding: 7%;
}

#projects div {
    padding-top: 25%;
}

#skills div {
    padding-top: 20%;
}

#contacts div{
    padding: 4%;
}

#creds div {
    padding: 2%;
}

